@charset "utf-8";

.lookbook {
    width: 1200px;
    height: 750px;
}

.swiper-slide.sec01 {
    background: url(/cherry/images/22HS_KIRSH_HOT_SUMMER.png) no-repeat center center;
    background-size: contain;
}

.swiper-slide.sec02 {
    background: url(/cherry/images/KIRSH_X_BABY-G.jpg) no-repeat center center;
    background-size: contain;
}

.swiper-slide.sec03 {
    background: url(/cherry/images/2022SummerUni.jpg) no-repeat center center;
    background-size: contain;
}
.swiper-slide.sec04 {
    background: url(/cherry/images/2022SummerBlur.jpg) no-repeat center center;
    background-size: contain;
}
.swiper-slide.sec05 {
    background: url(/cherry/images/2022KIRSHXGG.png) no-repeat center center;
    background-size: contain;
}
.swiper-slide.sec06 {
    background: url(/cherry/images/KIRSHXPOLAROID.jpg) no-repeat center center;
    background-size: contain;
}

.swiper-slide.sec07 {
    background: url(/cherry/images/20SS_KIRSH_PT_2.jpg) no-repeat center center;
    background-size: contain;
}

.swiper-slide.sec08 {
    background: url(/cherry/images/20SS_KIRSH_PT_1.jpg) no-repeat center center;
    background-size: contain;
}

.swiper-slide.sec09 {
    background: url(/cherry/images/22SS_KIRSH_REALMEWITHWONYOUNG.jpg) no-repeat center center;
    background-size: contain;
}